In [1]:
import pandas as pd
df = pd.read_csv('data/train.csv')

display(df.info())
display(df.sample(25))
df.describe(exclude='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  int64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  int64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(4), int64(5), object(3)
memory usage: 2.7+ MB

None

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
23757,Owner,0,0,4,BHK,1700.102006,1,1,"Shaniwar Peth,Pune",18.520880,73.851510,200.0
25568,Builder,1,0,2,BHK,1145.339652,0,0,"Mangalagiri,Guntur",16.422222,80.561251,43.5
23808,Dealer,0,1,3,BHK,1720.121842,1,1,"Sector-83 Gurgaon,Gurgaon",28.396092,76.972169,96.0
12057,Dealer,0,0,1,BHK,670.027862,1,1,"Khandeshwar,Mumbai",19.009356,73.095809,50.5
8557,Dealer,0,1,2,BHK,92383.494150,1,0,"Hebbal,Bangalore",13.040340,77.591347,9000.0
2191,Dealer,0,0,2,BHK,975.324295,1,1,"Kalwa,Lalitpur",19.196694,73.003115,100.0
13335,Owner,0,0,3,BHK,1350.000000,1,1,"Chembukkav,Thrissur",10.520000,76.210000,54.0
12332,Owner,0,1,3,BHK,2015.237159,1,1,"Sushant Golf City,Lucknow",26.781748,81.006714,82.0
13128,Dealer,1,1,2,BHK,1230.996492,0,1,"Kanjur Marg (East),Lalitpur",24.690280,78.418890,200.0
13409,Dealer,0,0,3,BHK,1478.725878,1,1,"New Town,Kolkata",22.592200,88.484911,63.6
5078,Owner,0,0,2,BHK,1462.599248,1,1,"Bidhannagar,Durgapur",22.580000,88.420000,35.0
6749,Dealer,0,0,2,BHK,1189.169411,1,1,"Sector 77 Faridabad,Faridabad",28.368269,77.372730,32.5
8203,Dealer,0,0,3,BHK,1622.247972,1,1,"Sector-35D Kharghar,Lalitpur",30.725549,76.755804,140.0
4047,Dealer,0,1,2,BHK,1329.080276,1,1,"Mira Bhayandar,Mumbai",19.259521,72.883037,100.0
6877,Dealer,0,0,1,BHK,560.006892,1,1,"Bhakti Park,Lalitpur",19.027670,72.880010,130.0
21422,Owner,0,0,3,BHK,1549.755302,1,1,"Sector-78 Noida,Noida",28.560719,77.386208,95.0
5698,Dealer,0,0,2,BHK,1088.065844,1,1,"Yeshwanthpur,Bangalore",12.969910,77.597960,66.1
23324,Owner,0,0,2,BHK,1244.083840,1,1,"Hebbal,Bangalore",13.040340,77.591347,92.0
9904,Dealer,0,1,4,BHK,2549.019608,1,1,"Gomti Nagar Extension,Lucknow",21.000000,77.000000,130.0
3219,Dealer,0,0,3,BHK,1607.012418,1,1,"7th Phase JP Nagar,Bangalore",35.000000,136.000000,110.0
22858,Dealer,0,0,1,BHK,500.000000,1,1,"Choolaimedu,Chennai",13.057800,80.226700,31.0
2245,Dealer,0,1,3,BHK,1225.061253,1,1,"Sector-37 Bahadurgarh,Bahadurgarh",30.739007,76.748393,35.0
10072,Dealer,0,1,2,BHK,904.347826,1,1,"Malad (West),Lalitpur",19.184900,72.834700,130.0
26758,Dealer,0,0,3,BHK,1459.690097,1,1,"Narendrapur,Kolkata",22.439170,88.395830,65.0
17006,Dealer,1,1,1,BHK,768.844851,0,1,"Mira Road,Maharashtra",19.283359,72.864964,61.3

,UNDER_CONSTRUCTION,RERA,BHK_NO.,SQUARE_FT,READY_TO_MOVE,RESALE,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
count,29451.000000,29451.000000,29451.000000,2.945100e+04,29451.000000,29451.000000,29451.000000,29451.000000,29451.000000
mean,0.179756,0.317918,2.392279,1.980217e+04,0.820244,0.929578,21.300255,76.837695,142.898746
std,0.383991,0.465675,0.879091,1.901335e+06,0.383991,0.255861,6.205306,10.557747,656.880713
min,0.000000,0.000000,1.000000,3.000000e+00,0.000000,0.000000,-37.713008,-121.761248,0.250000
25%,0.000000,0.000000,2.000000,9.000211e+02,1.000000,1.000000,18.452663,73.798100,38.000000
50%,0.000000,0.000000,2.000000,1.175057e+03,1.000000,1.000000,20.750000,77.324137,62.000000
75%,0.000000,1.000000,3.000000,1.550688e+03,1.000000,1.000000,26.900926,77.828740,100.000000
max,1.000000,1.000000,20.000000,2.545455e+08,1.000000,1.000000,59.912884,152.962676,30000.000000

In [3]:
selected_cols= df.select_dtypes(exclude='object').columns
# null_cols = df.columns[df.isna().any()]
selected_cols = selected_cols.drop(['UNDER_CONSTRUCTION', 'RERA', 'READY_TO_MOVE', 'RESALE'])
df1 = df[selected_cols]
display(df1)

       BHK_NO.    SQUARE_FT  LONGITUDE   LATITUDE  TARGET(PRICE_IN_LACS)
0            2  1300.236407  12.969910  77.597960                   55.0
1            2  1275.000000  12.274538  76.644605                   51.0
2            2   933.159722  12.778033  77.632191                   43.0
3            2   929.921143  28.642300  77.344500                   62.5
4            2   999.009247  22.592200  88.484911                   60.5
...        ...          ...        ...        ...                    ...
29446        3  2500.000000  27.140626  78.043277                   45.0
29447        2   769.230769  39.945409 -86.150721                   16.0
29448        2  1022.641509  26.928785  75.828002                   27.1
29449        2   927.079009  12.900150  80.227910                   67.0
29450        2   896.774194  26.832353  75.841749                   27.8

[29451 rows x 5 columns]