In [2]:
import pandas as pd
import numpy as np
df = pd.read_csv('data/train_modified.csv')

display(df.info())
display(df.sample(5))
# df.describe(exclude='object')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29304 non-null  float64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29304 non-null  object
 5   SQUARE_FT              29304 non-null  float64
 6   READY_TO_MOVE          29304 non-null  float64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(6), int64(3), object(3)
memory usage: 2.7+ MB

None

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
25769,Owner,0,0.0,2,BHK,779.896014,1.0,1,"Vijayalakshmi Puram,Chennai",13.090000,80.270000,45.0
1265,Owner,0,0.0,3,BHK,1320.211234,1.0,1,"Begur,Bangalore",12.870600,77.627900,55.0
27854,Dealer,0,0.0,3,BHK,1968.826907,1.0,1,"Sector-49 Chandigarh,Chandigarh",30.692243,76.750614,120.0
9716,Dealer,1,1.0,2,BHK,530.237891,0.0,0,"Tathawade,Lalitpur",24.690280,78.418890,55.5
15824,Owner,0,0.0,2,BHK,1500.000000,1.0,1,"Rustam Bagh Layout,Bangalore",12.969910,77.597960,75.0

In [13]:

# this code was used to modify the data and add nan values to a new excel sheet
# !do not run this code 

# replace_idx = np.random.choice(df.index, size=int(len(df)*0.005), replace=False)
# col_to_replace = 'SQUARE_FT'
# df.loc[replace_idx, col_to_replace] = np.nan


# df.to_csv('data/train_modified1.csv', index=False)
# display(df)

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
0,Owner,0,0.0,2,BHK,1300.236407,1.0,1,"Ksfc Layout,Bangalore",12.969910,77.597960,55.0
1,Dealer,0,0.0,2,BHK,1275.000000,1.0,1,"Vishweshwara Nagar,Mysore",12.274538,76.644605,51.0
2,Owner,0,0.0,2,BHK,933.159722,1.0,1,"Jigani,Bangalore",12.778033,77.632191,43.0
3,Owner,0,1.0,2,BHK,929.921143,1.0,1,"Sector-1 Vaishali,Ghaziabad",28.642300,77.344500,62.5
4,Dealer,1,0.0,2,BHK,999.009247,0.0,1,"New Town,Kolkata",22.592200,88.484911,60.5
...,...,...,...,...,...,...,...,...,...,...,...,...
29446,Owner,0,0.0,3,BHK,2500.000000,1.0,1,"Shamshabad Road,Agra",27.140626,78.043277,45.0
29447,Owner,0,0.0,2,BHK,769.230769,1.0,1,"E3-108, Lake View Recidency,,Vapi",39.945409,-86.150721,16.0
29448,Dealer,0,0.0,2,BHK,1022.641509,1.0,1,"Ajmer Road,Jaipur",26.928785,75.828002,27.1
29449,Owner,0,0.0,2,BHK,927.079009,1.0,1,"Sholinganallur,Chennai",12.900150,80.227910,67.0
29450,Dealer,0,1.0,2,BHK,896.774194,1.0,1,"Jagatpura,Jaipur",26.832353,75.841749,27.8

In [14]:
selected_cols= df.select_dtypes(exclude='object').columns
null_cols = df.columns[df.isna().any()] #looks like our data is clean
selected_cols = selected_cols.drop(['UNDER_CONSTRUCTION', 'RERA', 'READY_TO_MOVE', 'RESALE'])
df1 = df[selected_cols]

nan_count = 0
for value in df[col_to_replace]:
    if pd.isna(value):
        nan_count += 1
display(nan_count)

147