In [1]:
# import needed libraries
import pandas as pd
import numpy as np

# read excel file
df = pd.read_csv('data/train_modified.csv')

# display general information of the df
display(df.info())

# display 5 random samples of our df
display(df.sample(5))

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29304 non-null  float64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29304 non-null  object
 5   SQUARE_FT              29304 non-null  float64
 6   READY_TO_MOVE          29304 non-null  float64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(6), int64(3), object(3)
memory usage: 2.7+ MB

None

,POSTED_BY,UNDER_CONSTRUCTION,RERA,BHK_NO.,BHK_OR_RK,SQUARE_FT,READY_TO_MOVE,RESALE,ADDRESS,LONGITUDE,LATITUDE,TARGET(PRICE_IN_LACS)
7643,Dealer,0,1.0,2,BHK,1346.076188,1.0,1,"Whitefield,Bangalore",12.995893,77.761394,100.0
6481,Owner,0,1.0,3,BHK,1449.932034,1.0,1,"Alwar Bypass Road,Bhiwadi",28.210200,76.860600,32.0
12157,Owner,1,1.0,4,BHK,2219.263205,0.0,1,"Sikar Road,Jaipur",27.611940,75.139720,50.0
25189,Dealer,0,1.0,4,BHK,2427.184466,1.0,0,"Hinjewadi,Pune",18.585300,73.741300,170.0
6589,Owner,0,0.0,2,BHK,888.099467,1.0,1,"Delhi Road,Meerut",29.948561,77.546486,25.0

Its clear from the summary above that the coulms (RERA, BHK_OR_RK, SQUARE_FT, READY_TO_MOVE) has some NaN values and need to be fixed. We will replace catagorical data with the mode of the coulmns and the numrical data with the mean of the coulmn.

---

Here are the features with their types and description:

|         name         |    type    |                 description                 |
| :-------------------: | :---------: | :------------------------------------------: |
|       POSTED_BY       | Categorical | Category marking who has listed the property |
|  UNDER_CONSTRUCTION  |   Nominal   |          Under Construction or Not          |
|         RERA         |   Nominal   |             Rera approved or Not             |
|        BHK_NO.        |  Numerical  |               Number of Rooms               |
|       BHK_OR_RK       | Categorical |               Type of property               |
|       SQUARE_FT       |  Numerical  |    Total area of the house in square feet    |
|     READY_TO_MOVE     |   Nominal   |    Category marking Ready to move or Not    |
|        RESALE        |   Nominal   |        Category marking Resale or not        |
|        ADDRESS        | Categorical |           Address of the property           |
|       LONGITUDE       |  Numerical  |          Longitude of the property          |
|       LATITUDE       |  Numerical  |           Latitude of the property           |
| TARGET(PRICE_IN_LACS) |  Numerical  |              The property price              |

In [2]:

# this code was used to modify the data and add nan values to a new excel sheet
# !do not run this code 

# replace_idx = np.random.choice(df.index, size=int(len(df)*0.005), replace=False)
# col_to_replace = 'SQUARE_FT'
# df.loc[replace_idx, col_to_replace] = np.nan


# df.to_csv('data/train_modified1.csv', index=False)
# display(df)

In [2]:
# lets fix the nan values

for col in df.columns:
    # check if the column is of object type
    if df[col].dtype == 'object':
        # replace missing values with the most occurred string
        value = df[col].mode()[0]
    else:
        # if the values are nominal(0, 1, nan) replace with mod
        if len(df[col].unique()) == 3:
            # replace missing values with the mode value
            value = df[col].mode()[0]

        else:
            # replace missing values with the mean value
            value = df[col].mean()
            
    df[col].fillna(value, inplace = True)
            
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29451 entries, 0 to 29450
Data columns (total 12 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   POSTED_BY              29451 non-null  object
 1   UNDER_CONSTRUCTION     29451 non-null  int64
 2   RERA                   29451 non-null  float64
 3   BHK_NO.                29451 non-null  int64
 4   BHK_OR_RK              29451 non-null  object
 5   SQUARE_FT              29451 non-null  float64
 6   READY_TO_MOVE          29451 non-null  float64
 7   RESALE                 29451 non-null  int64
 8   ADDRESS                29451 non-null  object
 9   LONGITUDE              29451 non-null  float64
 10  LATITUDE               29451 non-null  float64
 11  TARGET(PRICE_IN_LACS)  29451 non-null  float64
dtypes: float64(6), int64(3), object(3)
memory usage: 2.7+ MB

None

In [4]:
# now we need to remove the outliers
display(df.iloc[530:550, 2])

530    0.0
531    0.0
532    0.0
533    0.0
534    0.0
535    0.0
536    0.0
537    0.0
538    0.0
539    0.0
540    0.0
541    0.0
542    0.0
543    0.0
544    0.0
545    1.0
546    0.0
547    0.0
548    0.0
549    0.0
Name: RERA, dtype: float64